/* Animaciones*/
.btn {
    background-image: linear-gradient(to right,$colorSecundario,$colorPrincipal);
    color: $colorTerciario;
    background-size: 200% 100%;
    transition: background-position .5s;
    &:hover {
        background-position: 100% 0;
        color: $colorTerciario;
        font-weight: $textRegular;
    }
}