//Cards
.card {
    font-size: $textSm;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1rem;
    &:hover{
        background-color: $colorSecundario;
        color: $colorPrincipal;
    }
    .btn{
        background-color: $colorPrincipal;
        &:hover{
            background-color: $colorSecundario;
            color: $colorPrincipal;
        }
    }
}

 //Iconos
 .iconos {
    color: $colorSecundario;
    &:hover{
        color: $colorPrincipal;
    }
 }

 //Logo wsp
 .logoWsp{
    color: $colorSecundario;
    &:hover {
        color: $colorPrincipal;
    }
}

//Img
.img {
    cursor: pointer;
}

//Botones
.btn {
    color: $colorPrincipal;
    background-color: $colorSecundario;
    &:hover {
        color: $colorSecundario;
        background-color: $colorPrincipal;

    }
}

//Formulario
.formulario {
    background-color: $colorTerciario;
    .fondoFormulario{
        background-image: url(../img/banner-gris.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}



