//Body
body {
    font-family: $mainFont;
    font-size: $textMd;
    text-align: center;
    h1,h2 {
        font-weight: $textBold;
    }
    p {
        font-weight: $textRegular;
    }
   
}

//Header
header {
    background: linear-gradient(90deg, rgba(24,22,22,1) 6%, rgba(85,81,81,1) 91%);
    margin-bottom: 2rem;
    .logo {
        width: 80px;
    }

    .listaMenu {
        font-size: $textMd;
        &:hover{
            color: azure;
        }
    }
    
}

//NavBar
.carousel {
    width: auto;
}











