//Cards
.card {
    font-size: $textSm;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1rem;
    &:hover{
        background-color: $colorSecundario;
        color: $colorPrincipal;
    }
    
}

 //Iconos
 .iconos {
    color: $colorSecundario;
    &:hover{
        color: $colorPrincipal;
    }
 }

 //Logo wsp
 .logoWsp{
    color: $colorLogo;
    margin: 20px;
    &:hover {
        color: $colorPrincipal;
    }
}

//Img
.img {
    cursor: pointer;
}

//Formulario
.formulario {
    background-color: $colorTerciario;
    
}
.fondoFormulario{
    background-image: url(../img/banner-gris.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgError {
    width: 100%;
    height: auto;
}