//Mixins
// Textos
@mixin texto ($size,$line,$color,$padding,){
    font-family: 'Roboto', sans-serif;
    font-size: $size;
    line-height: $line;
    color: $color;
    padding: $padding;
}


//FlexBox
@mixin flexbox ($direccion,$alaing,$justify,$wrap){
    display: flex;
    flex-direction: $direccion;
    align-items: $alaing;
    justify-content: $justify;
    flex-wrap: $wrap;
}

.containerSucursales {
    .list-group {
        h2 {
            color: $colorSecundario;
        }
        .listaSucursales{
            @include texto($textSm,1.7,$colorSecundario,25px);
            background-color: $colorTerciario;
            cursor: pointer;
            &:hover {
                background-color: $colorPrincipal;
            }
            
        }

    }
}