//Esquema de colores
$colorPrincipal: grey;
$colorSecundario: rgb(10, 10, 10);
$colorTerciario: rgb(255, 253, 253);

//Fuentes
$mainFont: 'Roboto', sans-serif;

//Sizes textos (tamaño de fuente)
$textSm: 1rem;
$textMd: 1.5rem;
$textXl: 2rem;
$textXxl: 2.5rem;


//Fontweight (peso tipografico)
$textLight: 300;
$textRegular: 400;
$textBold: 600;


